* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: Verdana, Arial, 'sans-serif';
}

.createNoteButton:hover {
  width: 10rem;
}

.notetools-button {
  display: none;
}

.note-list:hover .notetools-button {
  display: inline;
}
